body {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    border: 0px;
    overflow-x: hidden;

    /*Queste sono variabili che ho creato per agevolarmi nel centrare le card nella pagina, le riutilizzo in alcune classi per fare dei calcoli*/
    --main-bg-color: #06376b;
    --main-highlight-color: #BE0B26;
    --main-text-color: white;
    --innerColor: 190, 9, 38;
    --outerColor: 244, 242, 240;
    --outside-space: max(10px, calc((100vw - 1024px) / 2));
}

a { /*Mi serve per far spuntare la manina quando sono sopra un link*/
    text-decoration: none;
    color: var(--main-text-color);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
}

.block-center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.flex-vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.no-padding {
    padding: 0px;
}

.image-fit-container {
    min-width: 100%;
}

.card {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

/*Settaggi specifici per tags*/
.topbar {
    background-color: black;
    min-height: 34px;
}

.topmenu {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topmenu-socials {
    display: flex;
    width: 10%;
}

.icon-negative {
    display: flex;
}

.icon-negative .accent {
    fill: var(--main-text-color);
}

.topmenu-logos {
    display: flex;
    width: 50%;
    justify-content: center;
}

.topmenu-logos svg {
    height: 18px;
    padding-right: 40px;
    fill: var(--main-text-color);
}

.topmenu-links {
    display: flex;
    width: 10%;
}

.topmenu-links svg {
    margin-right: 10px;
}

.topmenu-links button {
    border: none;
    background: black;
}

.topmenu-links a {
    margin-left: 70px;
}

.header {
    height: 90px;
    /*position: relative;*/
    margin: 0 auto;
    width: 100%;
    background-color: var(--main-bg-color);
}

.header-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
}

.header-logo {
    align-items: center;
}

.header-logo a {
    width: 230px
}

.header-center {
    margin: 0px 30px;
}

.header-menu-top ul {
    display: flex;
    color: var(--main-text-color);
    list-style-type: none;
    font-size: 14px;
    margin: 5px 0px;
    padding: 0px;
}

.header-menu-top ul li {
    margin-right: 20px;
    display: list-item;
    text-align: -webkit-match-parent;
}

.header-menu-top ul li:last-child {
    margin-right: 0px;
}

.divider {
    height: 2px;
    background: var(--main-text-color);
    opacity: 0.6;
    margin: 6px 0px;
}

.header-menu-bottom ul {
    display: flex;
    color: var(--main-text-color);
    list-style-type: none;
    font-size: 14px;
    margin: 5px 0px;
    padding: 0px;
}

.header-menu-bottom ul li {
    margin-right: 15px;
    font-weight: bold;
}

.header-menu-bottom ul li:first-child {
    color: #93C8FF;
    font-weight: bold;
}

.header-search {
    margin-left: 120px;
}

.header-search button {
    background-color: transparent;
    border: none;
}

.header-burger {
    margin: 10px;
}

.header-right {
    color: var(--main-text-color);
    background-color: #0f5096;
    font-size: 14px;
}

.sfoglia {
    margin: 0px 20px;
}

.main {
    overflow-x: scroll;
}

.prima-pagina {
    width: 80%;
}

.prima-pagina div.card {
    width: 60%;
    left: var(--outside-space);
    border: none;
}

.prima-pagina div.card-body {
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.prima-pagina h5.card-title {
    padding-top: 75px;
    font-size: 1.8rem;
}

.breaking-news-wrapper {
    height: 375px;
    width: 65%;
    background-color: var(--main-bg-color);
    margin-top: 20px;
    padding: 0px;
}

.breaking-news-ribbon-container {
    position: absolute;
    left: 0px;
    width: 200px;
    height: 38px;
    padding-left: 30px;
    background-color: var(--main-highlight-color);
}

.breaking-news-ribbon {
    font-size: 18px;
}

.breaking-news-ribbon::before {
    background-color: var(--main-highlight-color);
    display: block;
    content: '';
    position: absolute;
    left: calc(-1 * var(--outside-space));
    width: var(--outside-space);
    height: 38px;
}

/* effetto cerchi concentrici */

@keyframes circle {
    from {
        transform: scale(0);
        opacity: 1;
    }

    to {
        transform: scale(4);
        opacity: 0;
    }
}

.bullseye {
    position: relative;
    top: 9px;
}

.circle {
    /*   margin: 0 auto; */
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.one {
    animation: circle 6s 4s infinite linear;
    background: rgb(var(--innerColor));
}

.two {
    animation: circle 6s 2s infinite linear;
    background: rgb(var(--innerColor));
}

.three {
    animation: circle 6s 0s infinite linear;
    background: rgb(var(--outerColor));
}

/* FINE effetto cerchi concentrici */


marquee {
    margin-left: 25px;
}

.split-container {
    width: 80%;
}

.split {
    display: flex;
    width: 60%;
    position: relative;
    left: var(--outside-space);
}

.elenco-card {
    width: 70%;
    overflow-y: hidden;
    padding-right: 20px;
}

.right-pannel-noscroll {
    width: 30%;
    position: sticky;
    top: 0;
    height: 600px;
    /* overflow: hidden; */
}

.right-pannel-noscroll-image {
    margin-bottom: 20px;
}

.right-pannel-noscroll-banner {
    position: relative;
    background-color: var(--main-bg-color);
    margin-bottom: 20px;
    color: var(--main-text-color);
    height: 45px;
    font-size: 24px;
    font-weight: bold;
}

.right-pannel-noscroll-banner::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--main-bg-color);
    left: 100%;
    width: var(--outside-space);
    height: 45px;
}

.right-pannel-noscroll-articoli ul {
    list-style-type: none;
    font-size: 20px;
    padding-left: 0px;
}

.right-pannel-noscroll-articoli ul li {
    line-height: 50px;
    border-bottom: 1px solid;
}

.fixed {
    /*position: fixed;*/
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.elenco-card ul {
    list-style-type: none;
}

.card-sup-title {
    color: var(--main-highlight-color);
}

.card-title {
    font-weight: bold;
}

.icons {
    float: right;
    bottom: 20px;
    position: absolute;
    right: 0px;
}

.tre-minuti-con {
    background-color: var(--main-bg-color);
    width: 100%;
    margin-top: 50px;
}

.tre-minuti-con div.row {
    width: 100%;
    padding-top: 100px;
}

.tre-minuti-con div.col {
    border-right: 1px solid white;
    color: var(--main-text-color);
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
}

.ribbon-container {
    position: absolute;
    left: 0px;
    top: 30px;
    width: 200px;
    height: 38px;
    padding-left: 30px;
    background-color: #93C8FF;
}

.ribbon-container::before {
    background-color: #93C8FF;
    display: block;
    content: '';
    position: absolute;
    left: calc(-1 * var(--outside-space));
    width: var(--outside-space);
    height: 38px;
}

.tre-min {
    font-size: 18px;
    color: #06376b;
    float: right;
    margin: auto;
    font-weight: bold;
}


.testDiv {
    height: 600px;
    width: 300px;
    background-color: green;
}

.unione-edicola {
    background-color: #F8F8F8;
    margin-top: 70px;
    width: 100%;
    padding-top: 40px;
}

.unione-edicola div.row {
    border-bottom: 1px solid gray;
    width: 100%;
    padding-top: 100px;
}

.unione-edicola div.col {
    border-right: 1px solid gray;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
}

.unione-edicola div.second {
    border-bottom: none;
    padding: 20px 0 30px 0;

}

.news-edicola .comment {
    display: flex;
}

.ribbon-container-edicola {
    position: absolute;
    left: 0px;
    top: 30px;
    width: 300px;
    height: 38px;
    padding-left: 30px;
    background-color: #06376b;
}

.ribbon-container-edicola::before {
    background-color: #06376b;
    display: block;
    content: '';
    position: absolute;
    left: calc(-1 * var(--outside-space));
    width: var(--outside-space);
    height: 38px;
}

.edicola {
    font-size: 18px;
    color: var(--main-text-color);
    float: right;
    margin: auto;
    font-weight: bold;
}

.titolino {
    margin: auto auto auto 0;
    font-size: 13px;
    color: #06376b;
}

.sottotitolino {
    font-size: 13px;
    font-weight: normal;
    color: #00000099;
    margin-bottom: 10px;
    height: 32.2px;
}

.main-title {
    font-size: 34px;
    font-family: Playfair Display, Serif;
    font-weight: normal;
    color: #000000;
}

.nome {
    color: #003055;
    font-weight: 200;
    font-size: 13px;
}

.comment {
    padding-top: 20px;
    font-size: 14px;
    font-weight: normal;
    color: #00000099;
}

.img-news {
    float: right;
}

.segmenti-speciali {
    position: relative;
    background-color: #f4f9ff;
    width: 100%;
    padding: 70px 0;
    margin-top: 20px;
}

.div-titolo {
    margin: 0 var(--outside-space);
    border-bottom: 1px solid gray;
}

.titolo-speciale {
    font-size: 30px;
    font-family: Playfair Display, Serif;
    font-weight: bold;
    font-style: italic;
    color: #06376b;
    padding-bottom: 20px;
}

.centro {
    margin: 0 var(--outside-space);
}

.news-container {
    width: 100%;
    position: relative;
    margin: 20px 10px;
}

.im-speciali {
    width: 100%;
    margin-bottom: 10px;
}

.comment-sp {
    font-size: 14px;
    font-weight: normal;
    color: #00000099;
}

.titolino-sp {
    font-size: 13px;
    color: #06376b;
    text-transform: uppercase;
}

.titolo-sp {
    font-size: 20px;
    color: black;
}

.icon-sp {
    float: right;
}

.fv-gallery {
    position: relative;
    background-color: black;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 20px;
}

.ribbon-container-gallery {
    position: absolute;
    left: 0px;
    top: 15px;
    width: 600px;
    height: 38px;
    padding-left: 30px;
    background-color: #BE0B26;
}

.ribbon-container-gallery::before {
    background-color: #BE0B26;
    display: block;
    content: '';
    position: absolute;
    left: calc(-1 * var(--outside-space));
    width: var(--outside-space);
    height: 38px;
}

.fv-gallery div.row {
    width: 100%;
    padding-top: 100px;
}

.gallery {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    float: right;
}

.tg-videolina {
    font-size: 13px;
    text-transform: uppercase;
    color: #BE0B26;
}

.ultime-edizioni {
    font-size: 13px;
    color: white;
}

.titolo-carousel {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.podcast {
    background-color: #1c1a1a;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 40px 0;
}

.pod-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #eed45d;
}

.lista-pod {
    display: flex;
}

.teaser-title {
    font-size: 16px;
    padding-bottom: 5px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #eed45d;
}

.teaser {
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.piu-letti {
    height: auto;
    position: relative;
}

.lista-letti {
    display: flex;
}

.number {
    font-size: 50px;
    color: #06376b;
    font-weight: bold;
    padding-right: 20px;
}

.teaser-letti {
    font-weight: bold;
    font-size: 17px;
    color: black;
}

.abbonati {
    background-color: #06376b;
    margin-top: 40px;
}

.abbonati .row .col:first-child {
    justify-content: flex-end;
}

.img-abbonati {
    margin-top: -80px;
    float: right;
    padding-right: 20px;
}

.col2-abb {
    width: 70%;
}

.div-abbonati {
    display: flex;
    margin: 36px 0;
}

.title-abb {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-right: 16px;
}

.par-abbonati {
    color: white;
    font-size: 16px;
}

.vid-rad {
    display: flex;
    margin: 20px 0;
    overflow: hidden;
    flex-wrap: wrap;
}

.vid {
    height: 66px;
    background-color: #BE0B26;
    width: 50%;
}

.vid .centro {
    margin-right: 0 !important;
}

.img-vid {
    margin-top: 18px;
}

.img-play {
    float: right;
}

.rad {
    height: 66px;
    background-color: #f5da1b;
    width: 50%;
}

.rad .centro {
    margin-left: 0;
}

.img-vid {
    margin-top: 16px;
}

.img-vinile {
    float: right;
}

.middle-footer {
    background-color: #06376b;
    width: 100%;
}

.middle-footer .centro .row {
    justify-content: space-between;
}

.title-midf {
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    max-width: 120px;
}

.footer-bottom {
    background-color: black;
    width: 100%;
    padding: 48px 30px;
}

.footer-sx {
    text-align: left;
    width: 33%;
    min-height: 250px;
}

.img-footer {
    width: 260px;
    height: 23px;
    margin: 13px 0;
    float: left;
}

.footer-col {
    padding: 20px 0 20px 28px;
}

.footer-tcen {
    color: white;
    font-size: 14px;
    text-align: left;
}

.footer-text-sx {
    padding: 4px 0;
    font-size: 14px;
    color: white;
    text-align: left;

}

.footer-img-sx {
    width: 150px;
    height: 50px;
    padding: 2px 0;
}

.footer-fin {
    margin-top: 46px;
    margin-bottom: 20px;
    padding: 4px 0;
}

.footer-tfin {
    font-size: 14px;
    color: gray;
}

/*Reponsive*/
@media (min-width: 1200px) {
    #header-full {
        display: flex;
    }

    #header-reduced {
        display: none;
    }

    #sfoglia2 {
        display: none;
    }
}

@media (max-width: 1200px) {
    #header-full {
        display: none;
    }

    #header-reduced {
        display: block;
    }

    #sfoglia2 {
        display: flex;
    }

    .header-right {
        display: none;
    }
}

@media (max-width: 1024px) {
    .topmenu-logos svg {
        display: none;
    }

    .header-menu-bottom {
        display: none;
    }

    .header {
        display: block;
    }

    #tre-minuti-con {
        display: flex;
        flex-direction: column;
    }

    #edicola-second-row {
        display: none;
    }

    .split {
        width: 100%;
        flex-wrap: wrap;
    }

    .elenco-card {
        width: 100%;
    }

    .right-pannel-noscroll {
        width: 100%;
        height: auto;
    }

    .body-pod .row .col ul li:not(:first-child) {
        display: none;
    }
}

@media (max-width: 768px) {
    .letti .col {
        flex: none;
    }

    .letti ul {
        border-right: none !important;
    }

    .vid {
        width: 100%;
    }

    .rad {
        width: 100%;
    }
}


@media (max-width: 842px) {
    .abbonati .row .col {
        justify-content: center !important;
    }

    .img-abbonati {
        float: none;
    }
}